{% extends 'blog/base.html' %}

{% block content %}
<p class="head-word">Recent 10 posts</p>
<div class="grid-container">
    <div class="row">
        <div class="col-sm-6">1211111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111113123</div>
        <div class="col-sm-6">222222</div>
    </div>
    <div class="row">
        <div class="col-sm-6">33333</div>
        <div class="col-sm-6">44444</div>
    </div>
    <div class="row">
        <div class="col-sm-6">555</div>
        <div class="col-sm-6">66</div>
    </div>
    <div class="row">
        <div class="col-sm-6">77777</div>
        <div class="col-sm-6">8888</div>
    </div>
    <div class="row">
        <div class="col-sm-6">999</div>
        <div class="col-sm-6">999</div>
    </div>
    
</div>
    
{% endblock %}