.content {
    margin-left: 100px;
    margin-top : 50px;

}

.head-word {
    font-size:30px;
}

.page-header {
    margin-left: 0px;
    margin-top : 0px;
}

.grid-container {
    margin: 30px;
}

.grid-container * {
    padding:20px;
    word-wrap: break-word;
    background-color: green;
}
  